<div class="row pt-5">
  <div class="col-12">
    <button type="button" class="btn btn-primary float-right" (click)="open(add)">Add User</button>
    <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
  </div>
  <div class="col-12 pt-2">
    <img *ngIf="loading" src="../../assets/loader.gif" alt="">
    <ul *ngFor="let user of usersData" class="list-group">
      <li class="list-group-item"><img style="width:46px" class="rounded-circle" src="{{user.avatar}}" alt="">
        <a [routerLink]="[user.id]">#{{user.id}} {{user.first_name}} {{user.last_name}}</a>
        <span class="float-right">
          <a class="btn btn-secondary btn-sm" [routerLink]="[user.id,'edit']"><i class="far fa-edit"></i></a>
          <button (click)="deleteUser(user.id)" type="button" class="btn btn-danger btn-sm"><i class="fas fa-user-minus"></i></button>
        </span>
      </li>
    </ul>
  </div>
</div>
<!-- modal -->
<ng-template #add let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add User!</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input class="form-control" id="firstName" [(ngModel)]="user.first_name" name="first_name" placeholder="{{user.first_name}}">
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" [(ngModel)]="user.last_name" name="last_name" placeholder="{{user.last_name}}">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="addUser();c('Save click')">Save</button>
  </div>
</ng-template>
